<!DOCTYPE HTML>
<HTML lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Hack Cooper</title>
		    <!-- Bootstrap's CSS -->
		<link href={{ url_for('static',filename="bootstrap.min.css") }} rel="stylesheet"> 
		<script src={{ url_for('static',filename="bootstrap.min.js") }}></script>
		<link href={{ url_for('static',filename="index.css") }} rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="col-sm-6"></div>
			<div class="col-sm-4 nav-right">
				<form class="navbar-form pull-right" role="search">
					<div class="input-group">
						<input type="text" class="form-control site-search" placeholder="Search the site">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-6 header">
							Problems
						</div>
						<div class="col-sm-6 header">
							<div class="buttons pull-right">
								<div class="btn-group">
									<button type="button" class="btn btn-default">
										Difficulty
	    							</button>
									<button type="button" class="btn btn-default">
										Popularity
	    							</button>
	    						</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row post">
						<div class="col-sm-2 post-info">
							0<br>
							votes<br><br>
							0<br>
							answers<br><br>
							0 views
						</div>
						<div class="col-sm-10">
							<div class="row">
								<a href="#">This is the title</a><br>
								this is the body text
							</div>
							<div class="row">
								<button type="button" class="btn btn-default">
									#language
								</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="row post">
						<div class="col-sm-2 post-info">
							0<br>
							votes<br><br>
							0<br>
							answers<br><br>
							0 views
						</div> 
						<div class="col-sm-10">
							<div class="row">
								<a href="#">This is the title</a><br>
								this is the body text
							</div>
							<div class="row">
								<button type="button" class="btn btn-default">
									#language
								</button>
							</div>
						</div>
					</div>
					<hr>
				</div>
				<div class="col-sm-4">
					Related Tags
					<ul>
						<li>tag 1</li>
						<li>tag 2</li>
						<li>tag 3</li>
						<li>tag 4</li>
						<li>tag 5</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</HTML>
